{{cprTrace "START DIALOG CPR-UPDATE-ANNOUNCEMENT.HBS"}}
<div>
  {{!-- Show title --}}
  <h1>{{updateBanner}}</h1>
  {{!-- Show Release notes --}}
  {{{releaseNotes}}}
  {{!-- Show Feature Video --}}
  {{#if (cprCompare featureVideoLink "!==" "") }}
    <h2>{{featureVideoTitle}}</h2>
    {{featureVideoInformation}} <a href="{{featureVideoLink}}" target="_blank">{{HERE}}</a>
  {{/if}}
</div>
{{cprTrace "END CPR-UPDATE-ANNOUNCEMENT.HBS"}}
