{{cprTrace "START ACTOR MOOK CPR-MOOK-WEAPONS.HBS"}}
<div class="weapon-section">
  <li class="items-header flexrow">
    <span class="text-padding-left-smallest">
      {{localize "CPR.characterSheet.bottomPane.fight.weapons"}}
    </span>
  </li>
  <div class="weapon-content">
    {{#each (cprSort actor.itemTypes.weapon "name") as |weapon|}}
      {{#if (cprCompare weapon.system.equipped "===" "equipped")}}
        {{> "systems/cyberpunk-red-core/templates/actor/mixin/fight/cpr-weapon.hbs" this}}
      {{/if}}
    {{/each}}
  </div>
  {{#if (cprHasCyberneticWeapons actor) }}
    <li class="items-header flexrow">
      <span class="text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.fight.cyberwareWeapons"}}
      </span>
    </li>
  {{/if}}
  <div class="weapon-content">
    {{#each (cprSort (cprFilter actor.itemTypes.cyberware "system.isInstalled" true) "name") as |weapon| }}
      {{#if system.isWeapon }}
        {{> "systems/cyberpunk-red-core/templates/actor/mixin/fight/cpr-weapon.hbs" this}}
      {{/if}}
    {{/each}}
  </div>
</div>
{{cprTrace "END CPR-MOOK-WEAPONS.HBS"}}
