{{cprTrace "START ITEM DESCRIPTION MIXIN CPR-EQUIPPABLE.HBS"}}
{{#if item.isOwned }}
  <div class="item-summary-line">
    <span class="summary-namei text-semi">
      {{localize "CPR.itemSheet.physical.location"}}:
    </span>
    <span class="summary-value text-capitalize">
      {{item.system.equipped}}
    </span>
  </div>
{{/if}}
{{cprTrace "END CPR-EQUIPPABLE.HBS"}}
