{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-DRUG-CONTENT.HBS"}}
<li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections " gearTab-cyberware") }} hide{{/if }}{{/if }}"
    data-item-id="{{item._id}}"
    data-item-category="{{item.type}}"
    draggable="true">
  <div class="item-name gear-name text-nowrap">
    <a class="name item-edit flex-center">
      <img src="{{item.img}}"/>
      {{item.name}}
      {{#if item.system.isUpgraded }}
        <i class="text-super fa-solid fa-square-up"></i>
      {{/if}}
    </a>
  </div>
  <div class="gear-amount">
    <div class="gear-amount-value">
      x
      <input name="item.system.amount"
             class="gear-amount-input"
             type="number"
             data-item-prop="item.system.amount"
             value="{{cprNumberFormat item.system.amount}}"/>
    </div>
  </div>
  <div class="item-detail gear-data text-nowrap"
       data-tooltip="{{cprStripHtml item.system.description.value}}">
    {{cprStripHtml item.system.description.value}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-DRUG-CONTENT.HBS"}}
