{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-WEAPON-CONTENT.HBS"}}
{{!-- NAME --}}
<li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections "gearTab-weapon") }} hide{{/if }}{{/if }}"
    data-item-id="{{item._id}}"
    data-item-category="{{item.type}}"
    draggable="true">
  <div class="item-name gear-name text-nowrap"
       data-tooltip="{{localize (cprFindConfigValue "weaponTypeList" item.system.weaponType)}}"
       alt="{{localize (cprFindConfigValue "weaponTypeList" item.system.weaponType)}}">
    <a class="name item-edit flex-center">
      <img src="{{item.img}}"/>
      {{item.name}}
      {{#if item.system.isUpgraded }}
        <i class="text-super fa-solid fa-square-up"></i>
      {{/if}}
    </a>
  </div>
  <div class="gear-amount" {{#if item.system.isRanged }} {{#if item.system.magazine.ammoData.uuid }} data-tooltip="{{item.system.magazine.ammoData.name }}" {{/if }} {{/if }}>
    {{#if item.system.isRanged }}
      {{#if item.system.magazine.ammoData.uuid }}
        {{item.system.magazine.value}}/{{cprApplyUpgrade item item.system.magazine.max "magazine"}}
      {{/if}}
    {{/if}}
  </div>
  <div class="item-detail gear-data text-nowrap"
       data-tooltip="{{cprStripHtml item.system.description.value}}">
    {{cprStripHtml item.system.description.value}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-WEAPON-CONTENT.HBS"}}
