{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-ITEMUPGRADE-CONTENT.HBS"}}
{{#unless item.system.isInstalled}}
  <li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections "gearTab-gear") }} hide{{/if }}{{/if }}"
      data-item-id="{{item._id}}"
      data-item-category="{{item.type}}"
      draggable="true">
    <div class="item-name gear-name text-nowrap"
         data-tooltip="{{localize (cprFindConfigValue "objectTypes" item.system.type)}} {{localize "CPR.global.itemTypes.itemUpgrade"}}">
      <a class="name item-edit flex-center">
        <img src="{{item.img}}"/>
         {{item.name}}
      </a>
    </div>
    <div class="item-detail gear-data text-nowrap"
         data-tooltip="{{cprStripHtml item.system.description.value}}">
      {{cprStripHtml item.system.description.value}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
      {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
    </div>
  </li>
{{/unless}}
{{cprTrace "END CPR-ITEMUPGRADE-CONTENT.HBS"}}
