{{cprTrace "START ACTOR MIXIN ACTIONS CPR-DV-GLYPH.HBS"}}
{{#if (cprCompare system.dvTable "!==" "") }}
  <a class="item-action" data-item-id="{{id}}" data-action="measure-dv"><i class="fas fa-ruler"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.measureDv"}}"></i></a>
{{/if}}
{{cprTrace "END CPR-DV-GLYPH.HBS"}}
